@model FinanceApp.Models.Expense

<div class="container">
    <h2>Add Expense</h2>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Amount" class="form-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Catagory" class="form-label"></label>
            <input asp-for="Catagory" class="form-control" />
            <span asp-validation-for="Catagory" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add Expense</button>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
